*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.colorHeader{
    background-color: #2c2c2c;    
    .colorListItem{
        text-decoration: none;
        &:hover{
            background-color: rgb(99, 99, 99);
        }
        &:active{
            background-color: rgb(87, 87, 87);
            box-shadow: rgb(71, 71, 71) 0px 4px 8px;
        }
    }
    .linkColor{
        color: white;
    }
    .burger{
        background-image: url(../assets/img/burger.png);
    }
    .colorBurger{
        color: white;
        border-color:1px 1px solid white;
    }
}

.presentacion{
    background-image: url(../assets/img/fondo.jpg);
    background-position-x: center;
    height: 30rem;
    
}
.fondo{
    background-image: url(../assets/img/fondo2.jpg);
}
.sombra{
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
    color: white;
}
.background{
    background-color: rgb(35,35,35);
}

.grisTitulo{
    background-color: rgb(99, 99, 99);
    color:rgb(255,255,255);
    text-align: center;
    margin-bottom: 0;
}
.text-justify{
    text-align: justify;
}

.mision{
    font-size: 25px;
    hr{
        color:rgb(35,35,35);
        background-color: rgb(35,35,35);
    }
}
.cursosDisponibles{
    background-color: rgb(99, 99, 99);
    color:rgb(255,255,255);
    h2{
        font-size: 40px;
    }
}
.btn{
    border-radius: 0;
    background-color: rgb(35,35,35);
}
.list-group-item{
    background-color: transparent;
    color:white;
}
footer{
    background-color: rgb(35,35,35);
    color:rgb(255,255,255);
    .suscribirse{
        background-color: rgb(99, 99, 99);
        color: rgb(20,20,20);
    }
}

/* Media queries propias*/
@media screen and (min-width: 650px){
    .presentacion{
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height:100vh;
    }
    .frase{
        font-size: 28px;
    }
    .titulo{
        font-size: 45px;
    }
}