*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    padding: 15px;
    &:hover{
        background-color: rgb(99, 99, 99);
    }
    &:active{
        background-color: rgb(87, 87, 87);
        box-shadow: rgb(71, 71, 71) 0px 4px 8px;
    }
}
p{
    padding: 5px;
}
/*Header*/
header{
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .headerNav{
        display: flex;
        align-items: center;
        width: 70%;
        .listaNavegacion{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .navListItem{
            font-size: 25px;
            list-style: none;
            margin: 5px;
            color: white;
        }
        
    }
    .headerLogo {
        padding: 25px;
        height:120px;
    }
    
}


.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/img/fondo.jpg);
    background-size:cover ;
    background-attachment: fixed;
    height: 100vh;
    padding: 260px 0;
    overflow: hidden;
    .frase{
        font-size: 28px;
        text-shadow: 2px 2px 2px black;
        font-weight: bold;
        color: white;
        margin: 30px;
    }
    .autor{
        text-align: end;
        margin-right: 75px;
    }
    .misionTitulo{
    font-size: 40px;
    }
}

.mision{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 75%;
    .misionTexto{
        text-align: justify;
        font-size: 25px;
        margin: 20px;
        padding: 10px;
    }
    hr{
        color: rgb(35, 35, 35);
        background-color: rgb(35, 35, 35);
        width: 75%;
        height: 3px;
        margin: auto;
    }
}

.cursosDisponibles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20%;
    background-color: rgb(99, 99, 99);
    color: rgb(255, 255, 255);
    h2{
        font-size: 40px;
        margin: 30px;
    }
    .curso{
        padding: 15px;
        font-size: 20px;
        text-align: justify;
    }
    .botonCurso{
        background-color: rgb(35, 35, 35);
        color:white;
        padding: 10px 20px;
        margin-top:15px;
    }
    .textoCurso{
        text-align: justify;
    }
}
/*Footer*/
footer{
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:start;
    padding-top: 15px;
    .logosRedes{
        display: flex;
        align-items: start;
        .redSocial{
            height: 50px;
            padding: 5px;
        }
    }
    section{
        padding: 10px;
        width: 22%;
    }   
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        label{
            text-align: center;
            margin-bottom: 10px;
        }
        input{
            max-width: 70%;
            background-color: rgb(190, 190, 190);
            color: rgb(35, 35, 35);
        }
        .boton{
            background-color: rgb(190, 190, 190);
            color: rgb(35, 35, 35);
            font-weight: bold;
            margin:25px;
            padding:10px;
        }
    }
}

.libre{
    position: fixed;
    bottom: 2%;
    right: 2%;
    height: 50px;
}


.ubicacionColumna{
    display: inline-block;
    width: 49%;
    padding: 20px;
}
.cartaAerodromo{
    width: 75%;
}
.vistaAerea{
    width: 75%;
}
.mapa{
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 50px;
}


.vistaColumnaForm{
    background-color: lightgrey;
    border-radius: 15px;
    .formularioCampo{
        display: block;
        margin: 25px;
        padding: 10px;
        .formCheckbox{
            margin: 25px;
            padding: 10px;
               
        }
    }
}

.boton{
   
    
}


