/** Clases Utilitarias**/
/*configuracion de imagenes utilizadas como fondo*/
.fondo{
    background-image: url(../assets/img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    width: $t-100por;
}
/* Titulos h1*/
.grisTitulo{
    background-color: $color-background;
    color:$color-texto-claro;
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.textoClaro{
    background-color: $color-background;
    color:$color-texto-claro;
    .size{
        width: $t-100por;
        object-fit: cover;
    }
    hr{
        background-color: $color-texto-claro;
        color: $color-texto-claro;
    }
}

.btn{
    border-radius: 0;
    background-color: $color-background-secundario;
    &:hover{
        background-color: $color-oscuro;
    }
}