/*Footer*/
footer{
    background-color: $color-background-secundario;
    color:$color-texto-claro;
    .suscribirse{
        background-color:$color-background;
        color:$color-oscuro;
    }
}
