/*Footer*/
footer{
    background-color:map-get($colores,background-secundario);
    color:map-get($colores,texto-claro);
    .suscribirse{
        background-color:map-get($colores,background);
        color:map-get($colores,oscuro);
    }
}
