/* Main Aeronaves */
main{
    .background{
        background-color: map-get($colores,oscuro);
    }
    .carousel-caption{
        .sombra{
            text-shadow: 4px 2px 2px map-get($colores,oscuro);
            color: map-get($colores,texto-claro);
            background-color: map-get($colores,transparencia);
        }
    }
    .list-group-item{
        background-color: transparent;
        color:map-get($colores,texto-claro);
    }
    .tarjeta{
        width: $tamano-card;
    }
    .zoom{
        overflow: hidden;
        img{
        width: 100%;
        transition: transform 1s ease-in;
            &:hover{
                transform: scale(1.2);
                filter:initial;
            }
        }
    }
}
