/* Main Aeronaves */
main{
    .background{
        background-color: $color-oscuro;
    }
    .carousel-caption{
        .sombra{
            text-shadow: 4px 2px 2px $color-oscuro;
            color: $color-texto-claro;
            background-color: $transparencia;
        }
    }
    .list-group-item{
        background-color: transparent;
        color:$color-texto-claro;
    }
    .tarjeta{
        width: $tamano-card;
    }
    .zoom{
        overflow: hidden;
        img{
        width: 100%;
        transition: transform 1s ease-in;
            &:hover{
                transform: scale(1.2);
                filter:initial;
            }
        }
    }
}
