main{
    .error{
        .sombra{
            text-shadow: 2px 2px 2px $color-oscuro;
            color: map-get($colores,texto-claro);
        }
        .titulo{
            font-size: map-get($textos,titulo-mobile);
        }
        background-color: map-get($colores,background);
    }
}