/* Variables*/
$color-background: rgb(99, 99, 99);
$color-texto-claro : rgb(255,255,255);
$color-oscuro: rgb(10,10,10);
$color-background-secundario: rgb(35,35,35);
$transparencia: rgba(0, 0, 0, 0.5);
$color-box-shadow: rgb(85,85,85);
$color-link: rgb(10, 10, 120);

$t-100por : 100%;
$t-100vh: 100vh;

$texto-titulo: 3.2rem;
$texto-presentacion: 2.5rem;

$texto-titulo-mobile: 2.5rem;
$texto-presentacion-mobile: 1.2rem;

$tamano-card: 18rem;
$posicion-center: center;

$display:inline-block;
$vertical-align:middle;
$transform: perspective(1px) translateZ(0);
$box-shadow:0 0 1px rgba(0, 0, 0, 0);
$position: relative;
$overflow:hidden;
